body {
  margin: 0px;
}

.container {
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  flex-wrap: wrap;
}
ul {
  display: flex;
  flex-wrap: wrap;
  li {
    list-style: none;
    flex: 0 0 33.3%;
    flex-grow: 1;
  }
}

.user-profile-header {
  margin-top: 20px;
}
